*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

/* Background */

.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#4facfe,#00f2fe);
}

/* Glass Card */

.login-card{
  width:350px;
  padding:40px;
  border-radius:15px;
  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(10px);
  box-shadow:0 8px 32px rgba(0,0,0,0.2);
  text-align:center;
  color:white;
}

/* Heading */

.login-card h1{
  margin-bottom:10px;
}

.subtitle{
  margin-bottom:25px;
  font-size:14px;
}

/* Inputs */

.login-form input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:25px;
  outline:none;
}

/* Button */

.login-form button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:25px;
  background:white;
  color:#333;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.login-form button:hover{
  background:#eee;
}

/* Register */

.register{
  margin-top:20px;
  font-size:14px;
}

.register span{
  font-weight:bold;
  cursor:pointer;
}